@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-blue-grey-300);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    isolation: isolate;
  }
}
