@theme {
  --font-sans: "Pretendard Variable", "Pretendard", system-ui, sans-serif;

  --text-*: initial;
  --font-weight-*: initial;
  --text-12-r400: 12px;
  --text-12-r400--line-height: 1;
  --text-12-r400--font-weight: 400;
  --text-12-m500: 12px;
  --text-12-m500--line-height: 1;
  --text-12-m500--font-weight: 500;
  --text-12-sb600: 12px;
  --text-12-sb600--line-height: 1;
  --text-12-sb600--font-weight: 600;
  --text-12-b700: 12px;
  --text-12-b700--line-height: 1;
  --text-12-b700--font-weight: 700;
  --text-14-sb600: 14px;
  --text-14-sb600--line-height: 1;
  --text-14-sb600--font-weight: 600;
  --text-16-m500: 16px;
  --text-16-m500--line-height: 1;
  --text-16-m500--font-weight: 500;
  --text-16-sb600: 16px;
  --text-16-sb600--line-height: 1;
  --text-16-sb600--font-weight: 600;
  --text-16-ex800: 16px;
  --text-16-ex800--line-height: 1;
  --text-16-ex800--font-weight: 800;
  --text-18-sb600: 18px;
  --text-18-sb600--line-height: 1.3;
  --text-18-sb600--font-weight: 600;
  --text-18-b700: 18px;
  --text-18-b700--line-height: 1;
  --text-18-b700--font-weight: 700;
  --text-20-sb600: 20px;
  --text-20-sb600--line-height: 1;
  --text-20-sb600--font-weight: 600;
  --text-32-b700: 32px;
  --text-32-b700--line-height: 1;
  --text-32-b700--font-weight: 700;
}
